<%- include header %>
<%- include right_user%>
<%- include left_nav%>
<%- include flash %>
<script type="text/javascript" src="/javascripts/devices/qrcode.js"></script>
<ol class="breadcrumb">
    <li class="active">
        <a href="/mydevices"><i class="fa fa-dashboard"></i>  我的设备 </a>/
        <i class="fa fa-list"></i>  <%= title %>
    </li>
</ol>

<!--效果html开始-->
<div id="wrapper">
    <div class="box">
        <div class="demo">
            <!--<a href="javascript:" id="bindDevice" class="demo7 btn btn-primary  btn-detailCustom">绑定设备</a>-->
            <!--<a href="javascript:" id="connWIFI" class="demo7 btn  btn-detailCustom" style="color: #fff; background-color: #337ab7;border-color: #2e6da4;">连接WI-FI</a>-->

            <a class="btn btn-primary  btn-detailCustom" href="/mydevices/edit/<%= rows[0].id %>">编辑</a>
            <a class="btn btn-primary  btn-detailCustom" id="update" href="javascript:">更新</a>   <!--href="/mydevices/conf/qrcode/<%= rows[0].id %>"-->
        </div><!-- demo end -->
        <!-- 注意：请将要放入弹框的内容放在比如id="HBox"的容器中，然后将box的值换成该ID即可，比如：$(element).hDialog({'box':'#HBox'}); -->
        <!--<div id="HBox" >-->
            <!--请使用眼镜扫描-->
            <!--<div id="qrcodeConfig" style="margin:30px;"></div>-->
        <!--</div>&lt;!&ndash; HBox end &ndash;&gt;-->
    </div><!-- box end -->
</div><!-- wrapper end -->

<% if (rows[0]) {%>

    <div hidden> <%= rows[0].id %><hr /></div>
         <hr />
        <strong><h3>直播配置</h3></strong>
        <div class="row">
            <div class="col-md-3 margin-bottom-2">
                <label >分辨率</label>
                <p class="form-control-static" id="resolution"><%= rows[0].resolution %></p>
            </div>
            <div class="col-md-3 margin-bottom-2">
                <label>视频编码</label>
                <p class="form-control-static" id="videoCodec"><%= rows[0].videoCodec %></p>
            </div>
            <div class="col-md-3 margin-bottom-2">
                <label>音频编码</label>
                <p class="form-control-static" id="audioCodec"><%= rows[0].audioCodec %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 margin-bottom-2">
                <label>帧数</label>
                <p class="form-control-static" id="fps"><%= rows[0].fps %></p>
            </div>
            <div class="col-md-3 margin-bottom-2">
                <label>码率</label>
                <p class="form-control-static" id="bps"><%= rows[0].bps %></p>
            </div>
        </div>

    <hr />
<strong><h3>录像配置</h3></strong>
    <div class="row">
        <div class="col-md-3 margin-bottom-2">
            <label >分辨率</label>
            <p class="form-control-static" id="offlineresolution"><%= rows[0].offlineresolution %></p>
        </div>
        <div class="col-md-3 margin-bottom-2">
            <label>视频编码</label>
            <p class="form-control-static" id="offlinevideoCodec"><%= rows[0].offlinevideoCodec %></p>
        </div>
        <div class="col-md-3 margin-bottom-2">
            <label>音频编码</label>
            <p class="form-control-static" id="offlineaudioCodec"><%= rows[0].offlineaudioCodec %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-bottom-2">
            <label>帧数</label>
            <p class="form-control-static" id="offlinefps"><%= rows[0].offlinefps %></p>
        </div>
        <div class="col-md-3 margin-bottom-2">
            <label>码率</label>
            <p class="form-control-static" id="offlinebps"><%= rows[0].offlinebps %></p>
        </div>

    </div>

    <hr />
        <b><h3>其他配置</h3></b>
    <div class="row">
        <div class="col-md-3 margin-bottom-2">
            <label >本地视频上传</label>
            <p class="form-control-static" id="localvideoupload"><%=rows[0].localvideoupload==0?"是":"否"%></p>
        </div>
        <div class="col-md-3 margin-bottom-2">
            <label>同步后删除本地文件</label>
            <p class="form-control-static" id="deletelocalfile"><%=rows[0].deletelocalfile==0?"是":"否"%></p>
        </div>
    </div>

    <hr />
    <div class="row">
    <div class="col-md-3 margin-bottom-2">
        <label>更新时间</label>
        <p class="form-control-static" id="Updated"><%= rows[0].Updated %></p>
    </div>
    </div>
<% } %>
<%- include footer%>

<script  type="text/javascript">
    $(function() {
//        var $el = $('.dialog');
//        $el.hDialog();

        //改变弹框背景色
//        $('#update').hDialog({box: '#HBox', boxBg: '#006699', width: 340, height: 350});

        /**
         * 更改设备名称弹窗居中
         */
        $('.modal.fade').on('shown.bs.modal', function(){
            var $this = $(this);
            var $modal_dialog = $this.find('.modal-dialog');
            var m_top = ( $(document).height() - $modal_dialog.height() )/2;
            $modal_dialog.css({'margin': m_top + 'px auto'});
        });

        $('#update').click(function () {
            var id='<%= rows[0].id %>';
            $('#qrcodeConfig').empty();
            $.ajax({
                url: '/mydevices/conf/qrcode/'+id,
                type: 'GET',
                success: function (result) {
//                    $("#qrcodeConfig").empty();
//                    new QRCode(document.getElementById("qrcodeConfig"), result);
                    var img='<img id="imgConfig" style="height: 256px;width: 256px;vertical-align: middle;"  src="'+result+'" />';
                    $("#qrcodeConfig").empty();
                    $("#qrcodeConfig").append(img);
                    $('#ConfigDialog').modal({backdrop:'true'});
                }
            });
        });
    });
</script>
<div class="modal fade" id="ConfigDialog"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header list-group-item active">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">更新配置</h4>
            </div>
            <div class="modal-body">
                <div id="qrcodeConfig"  />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>