<%- include header %>
<%- include right_user%>
<%- include left_nav%>
<%- include flash %>
<ol class="breadcrumb">

    <li class="active">
        <i class="fa fa-money"></i> <%= title %>
    </li>
</ol>

电子白板		4万
采集端多屏显示		4万
多指导端管理		4万
坐席系统		4万
多层级用户管理		4万
多人指导（文字、语音会议）4万
转码服务		3000
推流服务		3000
VIP价格		TBD
存储空间扩容		200/50G
定制化开发		3万人月
私有云服务		一事一议
人员外派费用		TBD
1080P
TBD
<%- include footer %>