<%- include header %>
<%- include right_user%>
<%- include left_nav%>
<%- include flash %>
<ol class="breadcrumb">

    <li class="active">
        <i class="fa fa-reorder"></i>  <%= title %>
    </li>
</ol>

<p>2015-12-01   流量使用 1024MB  扣除费 1.28元  账户余额  50元</p>
<p>2015-12-01   流量使用 1024MB  扣除费 1.28元  账户余额  50元</p>
<p>2015-12-01   流量使用 1024MB  扣除费 1.28元  账户余额  50元</p>
<p>2015-12-01   流量使用 1024MB  扣除费 1.28元  账户余额  50元</p>





<%- include footer %>