<!DOCTYPE html>
<%- include header %>
<%- include right_user %>
<%- include left_nav %>
<%- include flash %>
<ol class="breadcrumb">
    <li class="active">
        <a href="/mylives"><i class="fa fa-dashboard"></i> 可看直播 </a>/<i class="fa fa-list"></i> <%= title %>
    </li>
</ol>
<link href="/plugins/pickList/pickList.css" rel="stylesheet">
<link href="/remotedevice/css/rect.css" rel="stylesheet"/>
<script type="text/javascript" src="/remotedevice/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/remotedevice/js/jquery.mousewheel.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/remotedevice/js/flowplayer-3.1.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/remotedevice/js/jquery-ui.js"></script>
<script type="text/javascript" src="/plugins/pickList/pickList.js"></script>
<style>
    video{
        max-width: 100%;
        height: auto;
    }
</style>

<script type="text/javascript">

    var iplayer = null;
    var player_style = null;
    var dst_user_name = '<%= author %>';
    var vs_id = '<%= vs_id %>';
    var deviceSN = '<%= deviceSN %>';

    function sendMsg() {
        var message = $("#txt_message").val();
        var date = new Date(+new Date() + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
        if (message) {
            var content = "'" + message + "'";
            send_txt_msg(content, '1');
            $("#oldMessage").prepend("<p><h10 class='text-primary'>" + date + "</h10><h6>" + message + "</h6></p>")
            $("#txt_message").val("");
        }
    }

    function send_txt_msg(msg, action) {
        var hashed_id = '<%= hashed_id %>';
        var author = '<%= author %>';
        $.ajax({
            url: '/mylives/' + hashed_id + '/send_txt_msg',
            type: 'GET',
            data: {content: msg, author: author, action: action},
            success: function (result) {
            }
        });
    }
</script>

<div class="page">
    <div class="content">
        <video id="player" src="<%= m3u8Url %>" autoplay  controls="controls">
            您的浏览器不支持 video 标签。
        </video>
        <div class="panel-default">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                发送文本消息.
            </div>
            <div id="oldMessage" class="panel-body" style="height: 222px">
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="txt_message" type="text" maxlength="100" class="form-control input-sm"
                           placeholder="输入文本...建议100字以内"/>
                                <span class="input-group-btn">
                                    <input type="button" class="btn btn-primary btn-sm" id="btn_send_msg" onclick="sendMsg()" value="发送"/>
                                </span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<p id="hashed_id" hidden><%= hashed_id %></p>
<p id="author" hidden><%= author %></p>
<p id="vs_id" hidden><%= vs_id %></p>
